-- MySQL dump 10.13  Distrib 8.0.43, for Win64 (x86_64)
--
-- Host: localhost    Database: proyecto_licorera
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=133 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ayuda_articuloayuda`
--

DROP TABLE IF EXISTS `ayuda_articuloayuda`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ayuda_articuloayuda` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `tipo` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `titulo` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `contenido` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `orden` int unsigned NOT NULL,
  `activo` tinyint(1) NOT NULL,
  `categoria_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ayuda_articuloayuda_categoria_id_fb3279fd_fk_ayuda_cat` (`categoria_id`),
  CONSTRAINT `ayuda_articuloayuda_categoria_id_fb3279fd_fk_ayuda_cat` FOREIGN KEY (`categoria_id`) REFERENCES `ayuda_categoriaayuda` (`id`),
  CONSTRAINT `ayuda_articuloayuda_chk_1` CHECK ((`orden` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ayuda_articuloayuda`
--

LOCK TABLES `ayuda_articuloayuda` WRITE;
/*!40000 ALTER TABLE `ayuda_articuloayuda` DISABLE KEYS */;
/*!40000 ALTER TABLE `ayuda_articuloayuda` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ayuda_categoriaayuda`
--

DROP TABLE IF EXISTS `ayuda_categoriaayuda`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ayuda_categoriaayuda` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nombre` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `icono` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `orden` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  CONSTRAINT `ayuda_categoriaayuda_chk_1` CHECK ((`orden` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ayuda_categoriaayuda`
--

LOCK TABLES `ayuda_categoriaayuda` WRITE;
/*!40000 ALTER TABLE `ayuda_categoriaayuda` DISABLE KEYS */;
/*!40000 ALTER TABLE `ayuda_categoriaayuda` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ayuda_mensajesoporte`
--

DROP TABLE IF EXISTS `ayuda_mensajesoporte`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ayuda_mensajesoporte` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `asunto` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `mensaje` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `fecha` datetime(6) NOT NULL,
  `atendido` tinyint(1) NOT NULL,
  `usuario_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `ayuda_mensajesoporte_usuario_id_c03298f1_fk_usuarios_usuario_id` (`usuario_id`),
  CONSTRAINT `ayuda_mensajesoporte_usuario_id_c03298f1_fk_usuarios_usuario_id` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios_usuario` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ayuda_mensajesoporte`
--

LOCK TABLES `ayuda_mensajesoporte` WRITE;
/*!40000 ALTER TABLE `ayuda_mensajesoporte` DISABLE KEYS */;
/*!40000 ALTER TABLE `ayuda_mensajesoporte` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `configuracion_backupregistro`
--

DROP TABLE IF EXISTS `configuracion_backupregistro`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `configuracion_backupregistro` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nombre` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `ruta` varchar(500) COLLATE utf8mb4_unicode_ci NOT NULL,
  `fecha` datetime(6) NOT NULL,
  `tama├▒o_mb` double NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `configuracion_backupregistro`
--

LOCK TABLES `configuracion_backupregistro` WRITE;
/*!40000 ALTER TABLE `configuracion_backupregistro` DISABLE KEYS */;
/*!40000 ALTER TABLE `configuracion_backupregistro` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `configuracion_configuracionempresa`
--

DROP TABLE IF EXISTS `configuracion_configuracionempresa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `configuracion_configuracionempresa` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nombre_empresa` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nit` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `direccion` varchar(300) COLLATE utf8mb4_unicode_ci NOT NULL,
  `telefono` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(254) COLLATE utf8mb4_unicode_ci NOT NULL,
  `iva_porcentaje` decimal(5,2) NOT NULL,
  `moneda` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `unidades_medida` json NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `configuracion_configuracionempresa`
--

LOCK TABLES `configuracion_configuracionempresa` WRITE;
/*!40000 ALTER TABLE `configuracion_configuracionempresa` DISABLE KEYS */;
/*!40000 ALTER TABLE `configuracion_configuracionempresa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext COLLATE utf8mb4_unicode_ci,
  `object_repr` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_usuarios_usuario_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_usuarios_usuario_id` FOREIGN KEY (`user_id`) REFERENCES `usuarios_usuario` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `model` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) COLLATE utf8mb4_unicode_ci NOT NULL,
  `session_data` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
INSERT INTO `django_session` VALUES ('zbix4dm2irph62xkehku72mmkjadjjb7','.eJxVjtFKxDAURH9F7nMpbZp0k7zps37BImXS3Nhqt1nSZkHEf5fIgvVx5hyG-aIBeZ-GvHEaZk-WBFXHzmH84LUA_471LdZjXPc0u7oo9Z1u9Uv0vDzd3X8DE7apzAotDUNjROOFCU3fhCD51LlW9aIENiH41nROG6W0af0JAhDKKSjJVFHeMtIcf2-Kv7jGi0tMlp6REx4eP7HgYKe4kCW-XBeGjwdQ3pEl2Xdado2miq63YURK8x7Jnl-_fwBC-14u:1wtmY4:Vjbfa12KM2GvDp3csIYLKIQL9MDOElaAKKA3uIlpQYo','2026-08-25 13:29:44.922032');
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventario_agendainventario`
--

DROP TABLE IF EXISTS `inventario_agendainventario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inventario_agendainventario` (
  `titulo` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` longtext COLLATE utf8mb4_unicode_ci,
  `fecha` datetime(6) NOT NULL,
  `tipo` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `estado` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `documento_usuario_id` bigint NOT NULL,
  `responsable_id` bigint DEFAULT NULL,
  KEY `inventario_agendainv_documento_usuario_id_40fb9503_fk_usuarios_` (`documento_usuario_id`),
  KEY `inventario_agendainv_responsable_id_18e5f5f2_fk_usuarios_` (`responsable_id`),
  CONSTRAINT `inventario_agendainv_documento_usuario_id_40fb9503_fk_usuarios_` FOREIGN KEY (`documento_usuario_id`) REFERENCES `usuarios_usuario` (`id`),
  CONSTRAINT `inventario_agendainv_responsable_id_18e5f5f2_fk_usuarios_` FOREIGN KEY (`responsable_id`) REFERENCES `usuarios_usuario` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventario_agendainventario`
--

LOCK TABLES `inventario_agendainventario` WRITE;
/*!40000 ALTER TABLE `inventario_agendainventario` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventario_agendainventario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventario_hallazgo`
--

DROP TABLE IF EXISTS `inventario_hallazgo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inventario_hallazgo` (
  `cantidad_sistema` int NOT NULL,
  `cantidad_fisica` int NOT NULL,
  `diferencia` int NOT NULL,
  `sesion_conteo` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tipo_hallazgo` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `resultado_inventario` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `observaciones` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `fecha_hallazgo` datetime(6) NOT NULL,
  `agenda_id` int NOT NULL,
  `producto_id` bigint NOT NULL,
  KEY `inventario_hallazgo_agenda_id_c34c75d6_fk_inventari` (`agenda_id`),
  KEY `inventario_hallazgo_producto_id_00a27112_fk_productos` (`producto_id`),
  CONSTRAINT `inventario_hallazgo_producto_id_00a27112_fk_productos` FOREIGN KEY (`producto_id`) REFERENCES `productos_producto` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventario_hallazgo`
--

LOCK TABLES `inventario_hallazgo` WRITE;
/*!40000 ALTER TABLE `inventario_hallazgo` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventario_hallazgo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventario_inventario`
--

DROP TABLE IF EXISTS `inventario_inventario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inventario_inventario` (
  `codigo_inventario` int NOT NULL AUTO_INCREMENT,
  `stock_actual` int unsigned NOT NULL,
  `stock_min` int unsigned NOT NULL,
  `stock_max` int unsigned NOT NULL,
  `presentacion_id` bigint NOT NULL,
  `producto_id` bigint NOT NULL,
  PRIMARY KEY (`codigo_inventario`),
  UNIQUE KEY `inventario_inventario_producto_id_presentacion_id_debd4d98_uniq` (`producto_id`,`presentacion_id`),
  KEY `inventario_inventari_presentacion_id_44cca9b8_fk_productos` (`presentacion_id`),
  CONSTRAINT `inventario_inventari_presentacion_id_44cca9b8_fk_productos` FOREIGN KEY (`presentacion_id`) REFERENCES `productos_presentacionproducto` (`id`),
  CONSTRAINT `inventario_inventari_producto_id_f9e2c17a_fk_productos` FOREIGN KEY (`producto_id`) REFERENCES `productos_producto` (`id`),
  CONSTRAINT `inventario_inventario_chk_1` CHECK ((`stock_actual` >= 0)),
  CONSTRAINT `inventario_inventario_chk_2` CHECK ((`stock_min` >= 0)),
  CONSTRAINT `inventario_inventario_chk_3` CHECK ((`stock_max` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventario_inventario`
--

LOCK TABLES `inventario_inventario` WRITE;
/*!40000 ALTER TABLE `inventario_inventario` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventario_inventario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventario_lote`
--

DROP TABLE IF EXISTS `inventario_lote`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inventario_lote` (
  `codigo` int NOT NULL AUTO_INCREMENT,
  `numero_lote` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `stock_actual` int unsigned NOT NULL,
  `costo_unitario` decimal(10,2) NOT NULL,
  `fecha_vencimiento` date DEFAULT NULL,
  `fecha_registro` datetime(6) NOT NULL,
  `presentacion_id` bigint NOT NULL,
  `registrado_por_id` bigint NOT NULL,
  PRIMARY KEY (`codigo`),
  UNIQUE KEY `numero_lote` (`numero_lote`),
  KEY `inventario_lote_presentacion_id_cdb4685a_fk_productos` (`presentacion_id`),
  KEY `inventario_lote_registrado_por_id_15328b4e_fk_usuarios_` (`registrado_por_id`),
  CONSTRAINT `inventario_lote_presentacion_id_cdb4685a_fk_productos` FOREIGN KEY (`presentacion_id`) REFERENCES `productos_presentacionproducto` (`id`),
  CONSTRAINT `inventario_lote_registrado_por_id_15328b4e_fk_usuarios_` FOREIGN KEY (`registrado_por_id`) REFERENCES `usuarios_usuario` (`id`),
  CONSTRAINT `inventario_lote_chk_1` CHECK ((`stock_actual` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventario_lote`
--

LOCK TABLES `inventario_lote` WRITE;
/*!40000 ALTER TABLE `inventario_lote` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventario_lote` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventario_movimientoinventario`
--

DROP TABLE IF EXISTS `inventario_movimientoinventario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inventario_movimientoinventario` (
  `codigo` int NOT NULL AUTO_INCREMENT,
  `tipo` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `fecha` datetime(6) NOT NULL,
  `cantidad` int NOT NULL,
  `motivo` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `stock_resultante` int unsigned DEFAULT NULL,
  `inventario_id` int NOT NULL,
  `lote_id` int NOT NULL,
  `registrado_por_id` bigint NOT NULL,
  PRIMARY KEY (`codigo`),
  KEY `inventario_movimient_inventario_id_a94be270_fk_inventari` (`inventario_id`),
  KEY `inventario_movimient_lote_id_45a552d7_fk_inventari` (`lote_id`),
  KEY `inventario_movimient_registrado_por_id_549e57aa_fk_usuarios_` (`registrado_por_id`),
  CONSTRAINT `inventario_movimient_registrado_por_id_549e57aa_fk_usuarios_` FOREIGN KEY (`registrado_por_id`) REFERENCES `usuarios_usuario` (`id`),
  CONSTRAINT `inventario_movimientoinventario_chk_1` CHECK ((`stock_resultante` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventario_movimientoinventario`
--

LOCK TABLES `inventario_movimientoinventario` WRITE;
/*!40000 ALTER TABLE `inventario_movimientoinventario` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventario_movimientoinventario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `productos_categoria`
--

DROP TABLE IF EXISTS `productos_categoria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `productos_categoria` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `codigo` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nombre` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` longtext COLLATE utf8mb4_unicode_ci,
  `padre_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `codigo` (`codigo`),
  KEY `productos_categoria_padre_id_d2c4e203_fk_productos_categoria_id` (`padre_id`),
  CONSTRAINT `productos_categoria_padre_id_d2c4e203_fk_productos_categoria_id` FOREIGN KEY (`padre_id`) REFERENCES `productos_categoria` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `productos_categoria`
--

LOCK TABLES `productos_categoria` WRITE;
/*!40000 ALTER TABLE `productos_categoria` DISABLE KEYS */;
/*!40000 ALTER TABLE `productos_categoria` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `productos_presentacionproducto`
--

DROP TABLE IF EXISTS `productos_presentacionproducto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `productos_presentacionproducto` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nombre` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `unidades` int unsigned NOT NULL,
  `cantidad` int unsigned NOT NULL,
  `precio` decimal(12,2) NOT NULL,
  `producto_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `productos_presentaci_producto_id_9ca11025_fk_productos` (`producto_id`),
  CONSTRAINT `productos_presentaci_producto_id_9ca11025_fk_productos` FOREIGN KEY (`producto_id`) REFERENCES `productos_producto` (`id`),
  CONSTRAINT `productos_presentacionproducto_chk_1` CHECK ((`unidades` >= 0)),
  CONSTRAINT `productos_presentacionproducto_chk_2` CHECK ((`cantidad` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `productos_presentacionproducto`
--

LOCK TABLES `productos_presentacionproducto` WRITE;
/*!40000 ALTER TABLE `productos_presentacionproducto` DISABLE KEYS */;
/*!40000 ALTER TABLE `productos_presentacionproducto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `productos_producto`
--

DROP TABLE IF EXISTS `productos_producto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `productos_producto` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `codigo` varchar(30) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nombre` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descripcion` longtext COLLATE utf8mb4_unicode_ci,
  `cantidad_disponible` int unsigned NOT NULL,
  `precio_unitario` decimal(12,2) NOT NULL,
  `unidad` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `activo` tinyint(1) NOT NULL,
  `categoria_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `codigo` (`codigo`),
  KEY `productos_producto_categoria_id_1fef506a_fk_productos` (`categoria_id`),
  CONSTRAINT `productos_producto_categoria_id_1fef506a_fk_productos` FOREIGN KEY (`categoria_id`) REFERENCES `productos_categoria` (`id`),
  CONSTRAINT `productos_producto_chk_1` CHECK ((`cantidad_disponible` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `productos_producto`
--

LOCK TABLES `productos_producto` WRITE;
/*!40000 ALTER TABLE `productos_producto` DISABLE KEYS */;
/*!40000 ALTER TABLE `productos_producto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `proveedores_compra`
--

DROP TABLE IF EXISTS `proveedores_compra`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `proveedores_compra` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `estado` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `proveedor_id` bigint NOT NULL,
  `documento_usuario_id` bigint DEFAULT NULL,
  `fecha` datetime(6) NOT NULL,
  `motivo_pago` longtext COLLATE utf8mb4_unicode_ci,
  `observacion` longtext COLLATE utf8mb4_unicode_ci,
  `saldo` decimal(12,2) NOT NULL,
  `valor` decimal(12,2) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `proveedores_compra_proveedor_id_6af52328_fk_proveedor` (`proveedor_id`),
  KEY `proveedores_compra_documento_usuario_id_b02366c4_fk_usuarios_` (`documento_usuario_id`),
  CONSTRAINT `proveedores_compra_documento_usuario_id_b02366c4_fk_usuarios_` FOREIGN KEY (`documento_usuario_id`) REFERENCES `usuarios_usuario` (`id`),
  CONSTRAINT `proveedores_compra_proveedor_id_6af52328_fk_proveedor` FOREIGN KEY (`proveedor_id`) REFERENCES `proveedores_proveedor` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `proveedores_compra`
--

LOCK TABLES `proveedores_compra` WRITE;
/*!40000 ALTER TABLE `proveedores_compra` DISABLE KEYS */;
/*!40000 ALTER TABLE `proveedores_compra` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `proveedores_detallecompra`
--

DROP TABLE IF EXISTS `proveedores_detallecompra`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `proveedores_detallecompra` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `cantidad` int NOT NULL,
  `precio_unitario` decimal(10,2) NOT NULL,
  `presentacion_id` bigint NOT NULL,
  `compra_id` bigint DEFAULT NULL,
  `fecha_registro` datetime(6) NOT NULL,
  `producto_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `proveedores_detallec_presentacion_id_4086fb21_fk_productos` (`presentacion_id`),
  KEY `proveedores_detallec_compra_id_d803349b_fk_proveedor` (`compra_id`),
  KEY `proveedores_detallec_producto_id_0f6591be_fk_productos` (`producto_id`),
  CONSTRAINT `proveedores_detallec_compra_id_d803349b_fk_proveedor` FOREIGN KEY (`compra_id`) REFERENCES `proveedores_compra` (`id`),
  CONSTRAINT `proveedores_detallec_presentacion_id_4086fb21_fk_productos` FOREIGN KEY (`presentacion_id`) REFERENCES `productos_presentacionproducto` (`id`),
  CONSTRAINT `proveedores_detallec_producto_id_0f6591be_fk_productos` FOREIGN KEY (`producto_id`) REFERENCES `productos_producto` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `proveedores_detallecompra`
--

LOCK TABLES `proveedores_detallecompra` WRITE;
/*!40000 ALTER TABLE `proveedores_detallecompra` DISABLE KEYS */;
/*!40000 ALTER TABLE `proveedores_detallecompra` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `proveedores_historialcompra`
--

DROP TABLE IF EXISTS `proveedores_historialcompra`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `proveedores_historialcompra` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `evento` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `fecha` datetime(6) NOT NULL,
  `descripcion` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `compra_id` bigint NOT NULL,
  `usuario_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `proveedores_historia_compra_id_6b3e7e39_fk_proveedor` (`compra_id`),
  KEY `proveedores_historia_usuario_id_87dbc1ea_fk_usuarios_` (`usuario_id`),
  CONSTRAINT `proveedores_historia_compra_id_6b3e7e39_fk_proveedor` FOREIGN KEY (`compra_id`) REFERENCES `proveedores_compra` (`id`),
  CONSTRAINT `proveedores_historia_usuario_id_87dbc1ea_fk_usuarios_` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios_usuario` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `proveedores_historialcompra`
--

LOCK TABLES `proveedores_historialcompra` WRITE;
/*!40000 ALTER TABLE `proveedores_historialcompra` DISABLE KEYS */;
/*!40000 ALTER TABLE `proveedores_historialcompra` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `proveedores_proveedor`
--

DROP TABLE IF EXISTS `proveedores_proveedor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `proveedores_proveedor` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `nombre_empresa` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `nit` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(254) COLLATE utf8mb4_unicode_ci NOT NULL,
  `telefono` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tipo_proveedor` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `estado` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `fecha_registro` datetime(6) NOT NULL,
  `registrado_por_id` bigint DEFAULT NULL,
  `observacion` longtext COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nombre_empresa` (`nombre_empresa`),
  UNIQUE KEY `email` (`email`),
  UNIQUE KEY `nit` (`nit`),
  KEY `proveedores_proveedo_registrado_por_id_41542fec_fk_usuarios_` (`registrado_por_id`),
  CONSTRAINT `proveedores_proveedo_registrado_por_id_41542fec_fk_usuarios_` FOREIGN KEY (`registrado_por_id`) REFERENCES `usuarios_usuario` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `proveedores_proveedor`
--

LOCK TABLES `proveedores_proveedor` WRITE;
/*!40000 ALTER TABLE `proveedores_proveedor` DISABLE KEYS */;
/*!40000 ALTER TABLE `proveedores_proveedor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `proveedores_proveedorcategoria`
--

DROP TABLE IF EXISTS `proveedores_proveedorcategoria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `proveedores_proveedorcategoria` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `categoria_id` bigint NOT NULL,
  `proveedor_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `proveedores_proveedorcat_proveedor_id_categoria_i_ad6d3790_uniq` (`proveedor_id`,`categoria_id`),
  KEY `proveedores_proveedo_categoria_id_da1c98b1_fk_productos` (`categoria_id`),
  CONSTRAINT `proveedores_proveedo_categoria_id_da1c98b1_fk_productos` FOREIGN KEY (`categoria_id`) REFERENCES `productos_categoria` (`id`),
  CONSTRAINT `proveedores_proveedo_proveedor_id_ceaba167_fk_proveedor` FOREIGN KEY (`proveedor_id`) REFERENCES `proveedores_proveedor` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `proveedores_proveedorcategoria`
--

LOCK TABLES `proveedores_proveedorcategoria` WRITE;
/*!40000 ALTER TABLE `proveedores_proveedorcategoria` DISABLE KEYS */;
/*!40000 ALTER TABLE `proveedores_proveedorcategoria` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reportes_reporte`
--

DROP TABLE IF EXISTS `reportes_reporte`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reportes_reporte` (
  `codigo` int NOT NULL AUTO_INCREMENT,
  `tipo_reporte` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `fecha` datetime(6) NOT NULL,
  `formato` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `observaciones` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `documento_usuario_id` bigint DEFAULT NULL,
  PRIMARY KEY (`codigo`),
  KEY `reportes_reporte_documento_usuario_id_98023dde_fk_usuarios_` (`documento_usuario_id`),
  CONSTRAINT `reportes_reporte_documento_usuario_id_98023dde_fk_usuarios_` FOREIGN KEY (`documento_usuario_id`) REFERENCES `usuarios_usuario` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reportes_reporte`
--

LOCK TABLES `reportes_reporte` WRITE;
/*!40000 ALTER TABLE `reportes_reporte` DISABLE KEYS */;
/*!40000 ALTER TABLE `reportes_reporte` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios_registroactividad`
--

DROP TABLE IF EXISTS `usuarios_registroactividad`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios_registroactividad` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `fecha_hora` datetime(6) NOT NULL,
  `ip_address` char(39) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `usuario_id` bigint NOT NULL,
  PRIMARY KEY (`id`),
  KEY `usuarios_registroact_usuario_id_dba1007e_fk_usuarios_` (`usuario_id`),
  CONSTRAINT `usuarios_registroact_usuario_id_dba1007e_fk_usuarios_` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios_usuario` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios_registroactividad`
--

LOCK TABLES `usuarios_registroactividad` WRITE;
/*!40000 ALTER TABLE `usuarios_registroactividad` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuarios_registroactividad` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios_usuario`
--

DROP TABLE IF EXISTS `usuarios_usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios_usuario` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `password` varchar(128) COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `first_name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_name` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(254) COLLATE utf8mb4_unicode_ci NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  `tipo_id` varchar(5) COLLATE utf8mb4_unicode_ci NOT NULL,
  `identificacion` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `telefono` varchar(15) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `rol` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `activo` tinyint(1) NOT NULL,
  `reset_token` varchar(64) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `reset_token_expira` datetime(6) DEFAULT NULL,
  `foto` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  UNIQUE KEY `identificacion` (`identificacion`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios_usuario`
--

LOCK TABLES `usuarios_usuario` WRITE;
/*!40000 ALTER TABLE `usuarios_usuario` DISABLE KEYS */;
INSERT INTO `usuarios_usuario` VALUES (1,'pbkdf2_sha256$1200000$SfO5uZeckK2EYAix5T2VBA$Xi5tttbNzGFbdOCBGePKkbsoGacA+EmRjUjrEW7lads=',NULL,1,'admin','','','admin@example.com',1,1,'2026-08-11 13:04:47.373718','CC','',NULL,'empleado',1,NULL,NULL,''),(2,'pbkdf2_sha256$1200000$Zg9pwJ34K49oGferyscCQt$vpsY7QRmaYV6dtpbiX8KN8CcQA3sVyRrRc+lkKfggH0=','2026-08-11 13:29:29.009129',0,'46384308','Laura','Ayala','nata17ayala@gmail.com',0,1,'2026-08-11 13:26:55.775405','CC','46384308','3124727769','empleado',1,NULL,NULL,'');
/*!40000 ALTER TABLE `usuarios_usuario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios_usuario_groups`
--

DROP TABLE IF EXISTS `usuarios_usuario_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios_usuario_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `usuario_id` bigint NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `usuarios_usuario_groups_usuario_id_group_id_4ed5b09e_uniq` (`usuario_id`,`group_id`),
  KEY `usuarios_usuario_groups_group_id_e77f6dcf_fk_auth_group_id` (`group_id`),
  CONSTRAINT `usuarios_usuario_gro_usuario_id_7a34077f_fk_usuarios_` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios_usuario` (`id`),
  CONSTRAINT `usuarios_usuario_groups_group_id_e77f6dcf_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios_usuario_groups`
--

LOCK TABLES `usuarios_usuario_groups` WRITE;
/*!40000 ALTER TABLE `usuarios_usuario_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuarios_usuario_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios_usuario_user_permissions`
--

DROP TABLE IF EXISTS `usuarios_usuario_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios_usuario_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `usuario_id` bigint NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `usuarios_usuario_user_pe_usuario_id_permission_id_217cadcd_uniq` (`usuario_id`,`permission_id`),
  KEY `usuarios_usuario_use_permission_id_4e5c0f2f_fk_auth_perm` (`permission_id`),
  CONSTRAINT `usuarios_usuario_use_permission_id_4e5c0f2f_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `usuarios_usuario_use_usuario_id_60aeea80_fk_usuarios_` FOREIGN KEY (`usuario_id`) REFERENCES `usuarios_usuario` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios_usuario_user_permissions`
--

LOCK TABLES `usuarios_usuario_user_permissions` WRITE;
/*!40000 ALTER TABLE `usuarios_usuario_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuarios_usuario_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ventas_aperturacaja`
--

DROP TABLE IF EXISTS `ventas_aperturacaja`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ventas_aperturacaja` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `fecha` date NOT NULL,
  `monto_base` decimal(12,2) NOT NULL,
  `observacion` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `denominaciones` json NOT NULL,
  `creado_en` datetime(6) NOT NULL,
  `documento_usuario_id` bigint DEFAULT NULL,
  `hora` time(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ventas_aperturacaja_fecha_documento_usuario_id_ff398a18_uniq` (`fecha`,`documento_usuario_id`),
  KEY `ventas_aperturacaja_documento_usuario_id_fd0bff51_fk_usuarios_` (`documento_usuario_id`),
  CONSTRAINT `ventas_aperturacaja_documento_usuario_id_fd0bff51_fk_usuarios_` FOREIGN KEY (`documento_usuario_id`) REFERENCES `usuarios_usuario` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ventas_aperturacaja`
--

LOCK TABLES `ventas_aperturacaja` WRITE;
/*!40000 ALTER TABLE `ventas_aperturacaja` DISABLE KEYS */;
/*!40000 ALTER TABLE `ventas_aperturacaja` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ventas_cierrecaja`
--

DROP TABLE IF EXISTS `ventas_cierrecaja`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ventas_cierrecaja` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `fecha` date NOT NULL,
  `total_contado` decimal(12,2) NOT NULL,
  `monto_base_siguiente` decimal(12,2) NOT NULL,
  `total_retirado` decimal(12,2) NOT NULL,
  `denominaciones` json NOT NULL,
  `creado_en` datetime(6) NOT NULL,
  `apertura_id` bigint NOT NULL,
  `documento_usuario_id` bigint DEFAULT NULL,
  `hora` time(6) NOT NULL,
  `monto_base` decimal(12,2) NOT NULL,
  `total_en_efectivo` decimal(12,2) NOT NULL,
  `total_retirado_efectivo` decimal(12,2) NOT NULL,
  `total_transferencias` decimal(12,2) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `apertura_id` (`apertura_id`),
  KEY `ventas_cierrecaja_documento_usuario_id_efadcbdc_fk_usuarios_` (`documento_usuario_id`),
  CONSTRAINT `ventas_cierrecaja_apertura_id_4dfee4fc_fk_ventas_aperturacaja_id` FOREIGN KEY (`apertura_id`) REFERENCES `ventas_aperturacaja` (`id`),
  CONSTRAINT `ventas_cierrecaja_documento_usuario_id_efadcbdc_fk_usuarios_` FOREIGN KEY (`documento_usuario_id`) REFERENCES `usuarios_usuario` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ventas_cierrecaja`
--

LOCK TABLES `ventas_cierrecaja` WRITE;
/*!40000 ALTER TABLE `ventas_cierrecaja` DISABLE KEYS */;
/*!40000 ALTER TABLE `ventas_cierrecaja` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ventas_cliente`
--

DROP TABLE IF EXISTS `ventas_cliente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ventas_cliente` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `tipo_id` varchar(5) COLLATE utf8mb4_unicode_ci NOT NULL,
  `identificacion` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nombre` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `telefono` varchar(15) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `direccion` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fecha_registro` datetime(6) NOT NULL,
  `apellido` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `correo_personal` varchar(254) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `documento_usuario_id` bigint DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `identificacion` (`identificacion`),
  KEY `ventas_cliente_documento_usuario_id_e984fa46_fk_usuarios_` (`documento_usuario_id`),
  CONSTRAINT `ventas_cliente_documento_usuario_id_e984fa46_fk_usuarios_` FOREIGN KEY (`documento_usuario_id`) REFERENCES `usuarios_usuario` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ventas_cliente`
--

LOCK TABLES `ventas_cliente` WRITE;
/*!40000 ALTER TABLE `ventas_cliente` DISABLE KEYS */;
/*!40000 ALTER TABLE `ventas_cliente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ventas_detalledevolucion`
--

DROP TABLE IF EXISTS `ventas_detalledevolucion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ventas_detalledevolucion` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `cantidad` int unsigned NOT NULL,
  `precio_unitario` decimal(12,2) NOT NULL,
  `presentacion_id` bigint NOT NULL,
  `devolucion_id` bigint NOT NULL,
  `codigo_lote_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `ventas_detalledevolu_presentacion_id_845a7b05_fk_productos` (`presentacion_id`),
  KEY `ventas_detalledevolu_devolucion_id_4ad0921a_fk_ventas_de` (`devolucion_id`),
  KEY `ventas_detalledevolu_codigo_lote_id_01b6b899_fk_inventari` (`codigo_lote_id`),
  CONSTRAINT `ventas_detalledevolu_devolucion_id_4ad0921a_fk_ventas_de` FOREIGN KEY (`devolucion_id`) REFERENCES `ventas_devolucion` (`id`),
  CONSTRAINT `ventas_detalledevolu_presentacion_id_845a7b05_fk_productos` FOREIGN KEY (`presentacion_id`) REFERENCES `productos_presentacionproducto` (`id`),
  CONSTRAINT `ventas_detalledevolucion_chk_1` CHECK ((`cantidad` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ventas_detalledevolucion`
--

LOCK TABLES `ventas_detalledevolucion` WRITE;
/*!40000 ALTER TABLE `ventas_detalledevolucion` DISABLE KEYS */;
/*!40000 ALTER TABLE `ventas_detalledevolucion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ventas_detalleventa`
--

DROP TABLE IF EXISTS `ventas_detalleventa`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ventas_detalleventa` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `cantidad` int unsigned NOT NULL,
  `precio_unitario` decimal(12,2) NOT NULL,
  `codigo_lote_id` int DEFAULT NULL,
  `codigo_presentacion_id` bigint DEFAULT NULL,
  `codigo_producto_id` bigint DEFAULT NULL,
  `codigo_reporte_id` int DEFAULT NULL,
  `codigo_venta_id` bigint NOT NULL,
  `subtotal` decimal(12,2) NOT NULL,
  `total` decimal(12,2) NOT NULL,
  `valor_descuento` decimal(12,2) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ventas_detalleventa_codigo_lote_id_d4ff5d29_fk_inventari` (`codigo_lote_id`),
  KEY `ventas_detalleventa_codigo_presentacion__5c60e0bb_fk_productos` (`codigo_presentacion_id`),
  KEY `ventas_detalleventa_codigo_producto_id_7c348784_fk_productos` (`codigo_producto_id`),
  KEY `ventas_detalleventa_codigo_reporte_id_96a2259e_fk_reportes_` (`codigo_reporte_id`),
  KEY `ventas_detalleventa_codigo_venta_id_feb8e083_fk_ventas_venta_id` (`codigo_venta_id`),
  CONSTRAINT `ventas_detalleventa_codigo_presentacion__5c60e0bb_fk_productos` FOREIGN KEY (`codigo_presentacion_id`) REFERENCES `productos_presentacionproducto` (`id`),
  CONSTRAINT `ventas_detalleventa_codigo_producto_id_7c348784_fk_productos` FOREIGN KEY (`codigo_producto_id`) REFERENCES `productos_producto` (`id`),
  CONSTRAINT `ventas_detalleventa_codigo_venta_id_feb8e083_fk_ventas_venta_id` FOREIGN KEY (`codigo_venta_id`) REFERENCES `ventas_venta` (`id`),
  CONSTRAINT `ventas_detalleventa_chk_1` CHECK ((`cantidad` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ventas_detalleventa`
--

LOCK TABLES `ventas_detalleventa` WRITE;
/*!40000 ALTER TABLE `ventas_detalleventa` DISABLE KEYS */;
/*!40000 ALTER TABLE `ventas_detalleventa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ventas_devolucion`
--

DROP TABLE IF EXISTS `ventas_devolucion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ventas_devolucion` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `fecha` datetime(6) NOT NULL,
  `estado` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `motivo` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `metodo_pago_devolucion` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `cantidad_cambio` int unsigned DEFAULT NULL,
  `saldo_credito` decimal(12,2) DEFAULT NULL,
  `observaciones` longtext COLLATE utf8mb4_unicode_ci NOT NULL,
  `restaurar_stock` tinyint(1) NOT NULL,
  `total_devuelto` decimal(12,2) NOT NULL,
  `producto_cambio_id` bigint DEFAULT NULL,
  `codigo_detalle_venta_id` bigint DEFAULT NULL,
  `codigo_venta_id` bigint NOT NULL,
  `documento_usuario_id` bigint DEFAULT NULL,
  `presenta_comprobante` tinyint(1) NOT NULL,
  `tipo_devolucion` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ventas_devolucion_producto_cambio_id_c7bfdda3_fk_productos` (`producto_cambio_id`),
  KEY `ventas_devolucion_codigo_detalle_venta_76131076_fk_ventas_de` (`codigo_detalle_venta_id`),
  KEY `ventas_devolucion_codigo_venta_id_51b155f9_fk_ventas_venta_id` (`codigo_venta_id`),
  KEY `ventas_devolucion_documento_usuario_id_771e9893_fk_usuarios_` (`documento_usuario_id`),
  CONSTRAINT `ventas_devolucion_codigo_detalle_venta_76131076_fk_ventas_de` FOREIGN KEY (`codigo_detalle_venta_id`) REFERENCES `ventas_detalleventa` (`id`),
  CONSTRAINT `ventas_devolucion_codigo_venta_id_51b155f9_fk_ventas_venta_id` FOREIGN KEY (`codigo_venta_id`) REFERENCES `ventas_venta` (`id`),
  CONSTRAINT `ventas_devolucion_documento_usuario_id_771e9893_fk_usuarios_` FOREIGN KEY (`documento_usuario_id`) REFERENCES `usuarios_usuario` (`id`),
  CONSTRAINT `ventas_devolucion_producto_cambio_id_c7bfdda3_fk_productos` FOREIGN KEY (`producto_cambio_id`) REFERENCES `productos_producto` (`id`),
  CONSTRAINT `ventas_devolucion_chk_1` CHECK ((`cantidad_cambio` >= 0))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ventas_devolucion`
--

LOCK TABLES `ventas_devolucion` WRITE;
/*!40000 ALTER TABLE `ventas_devolucion` DISABLE KEYS */;
/*!40000 ALTER TABLE `ventas_devolucion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ventas_venta`
--

DROP TABLE IF EXISTS `ventas_venta`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ventas_venta` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `fecha` datetime(6) NOT NULL,
  `descuento_porcentaje` decimal(5,2) NOT NULL,
  `comprobante_pago` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `codigo_cliente_id` bigint NOT NULL,
  `documento_usuario_id` bigint DEFAULT NULL,
  `metodo_pago` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `total_venta` decimal(12,2) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ventas_venta_codigo_cliente_id_4efd34b7_fk_ventas_cliente_id` (`codigo_cliente_id`),
  KEY `ventas_venta_documento_usuario_id_43616d11_fk_usuarios_` (`documento_usuario_id`),
  CONSTRAINT `ventas_venta_codigo_cliente_id_4efd34b7_fk_ventas_cliente_id` FOREIGN KEY (`codigo_cliente_id`) REFERENCES `ventas_cliente` (`id`),
  CONSTRAINT `ventas_venta_documento_usuario_id_43616d11_fk_usuarios_` FOREIGN KEY (`documento_usuario_id`) REFERENCES `usuarios_usuario` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ventas_venta`
--

LOCK TABLES `ventas_venta` WRITE;
/*!40000 ALTER TABLE `ventas_venta` DISABLE KEYS */;
/*!40000 ALTER TABLE `ventas_venta` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-12 19:34:24
